.blanc{
  background: white;
}
.bleuCdiscount {
  background: rgb(41, 56, 71);
}
.liste1 ul li {
  display: inline;

}
.liste1 ul li a {
  text-decoration: none;
  color: white;
  padding: 100px;
}
.liste1{
height: 25px;
}

.textBleuCdiscount {
  color: rgb(41, 56, 71);
}

.formulaire{
  height: 40px;
}
.formulaireTexte{
  margin-top: 5px;
} 

.offrePromo {
  border: solid;
  border-width: 5px;
  border-color: white;
  
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.colorPub{
  background-color: rgb(226, 226, 226);
}

body {
  background-color: rgb(226, 226, 226);
}
.picto {
  height: 15px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  text-align: center;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  margin-left: -40px;
  z-index: 1;
}

.dropdown:hover 
  .dropdown-content {
  display: block;
}

.miniature {
  width: 20px;
}
